<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
<h1>{{ movie.title }}</h1>
<h2>Details</h2>
<table style="border: 1px solid black">
    <tr>
         <td style="border: 1px solid black">Year</td>
         <td style="border: 1px solid black">{{ movie.year }}</td>
    </tr>
     <tr>
         <td style="border: 1px solid black">Description</td>
         <td style="border: 1px solid black">{{ movie.description }}</td>
    </tr>
</table>
</body>
</html>